# Ignore maven build folder
movielibrary/target/
movielibrary/target
target/ 

# Eclipse che workspace 
#eclipse core
.project
#Eclipse java development tools 
.classpath

#Created by https://www.gitignore.io/api/eclipse
